@font-face {
  font-family: "Gilroy";
  src: url("~@/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("~@/fonts/Gilroy-Regular.eot") format("embedded-opentype"),
    url("~@/fonts/Gilroy-Regular.woff") format("woff"),
    url("~@/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("~@/fonts/BebasNeue-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}